extends layout

block content
  h1= title
  p Welcome to #{title}
    form(method='POST' action='/api/auth/register' enctype='multipart/form-data')
      label(for='username') Nombre de usuario:
      input(type='text' name='username' id='username' required)
      label(for='password') Contraseña:
      input(type='password' name='password' id='password' required)
      label(for='photo') Foto:
      input(type='file' name='photo' id='photo')
      button(type='submit') Registrarse